<!-- collection section start -->
<section class="collection_section">
    <div class="container">
        <h2 class="heading">{{ section.settings.title }}</h2>
        <div class="row">
            {%- for product in collections[section.settings.my_collection].products -%}
            {% assign full_title = product.title | split: " " %}
            {% assign sliced_title = full_title | slice: 0, 2 %}
            <div class="col-12 col-md-4">
                <a href="{{ product.url }}">
                    <div class="card">
                        <div class="head">
                            <div class="imgbox">
                                <img src="{{ product.featured_image | img_url: 'large' }}" alt="">
                            </div>
                        </div>
                        <div class="body">
                            <h2>{{ sliced_title | join: " " }}</h2>
                            <h3>
                                {{ product.price | money}}
                                {%- if product.compare_at_price_min > 0 -%}
                                <span>{{product.compare_at_price_min | money_without_currency}}</span>
                                {%- endif -%}
                            </h3>
                        </div>
                    </div>
                </a>
            </div>
            {%- endfor -%}
        </div>
    </div>
</section>
<!-- collection section end   -->


{% schema %}
{
"name": "My collection",
"class": "my_collection",
"settings": [
{
"type": "collection",
"id": "my_collection",
"label": "Collection"
},
{
"type": "text",
"id": "title",
"default": "My Collection",
"label": "Title"
}
],
"presets": [
{
"category": "collection",
"name": "My Collection"
}
]
}
{% endschema %}